#background{
  background: #EFF710;
  background: -webkit-linear-gradient(135deg, #EFF710, #F79D21, #F75921);
  background: -o-linear-gradient(135deg, #EFF710, #F79D21, #F75921);
  background: -moz-linear-gradient(135deg,#EFF710, #F79D21, #F75921);
  background: linear-gradient(135deg, #EFF710, #F79D21, #F75921);
  padding: 10px 0;
  width: 100%;
}
.copyright{
padding-top: 10px;
text-align: left;
color: white;
text-decoration: none;
}
.copyright p{
padding-left: 10px;
padding-bottom: 500px;
}
#title{
color: silver;
font-style: oblique;
text-shadow: 1px 1px black, 1px 1px 5px black;
font-size: 50px;
margin: 0;
}
#subtitle{
color: silver;
text-shadow: 1px 1px black, 1px 1px 5px black;
font-size: 35px;
margin: 0;
}
#author{
color: black;
margin: 0;
}
body{
text-align: center;
margin: 0;
line-height: 1;
}
nav{
padding-top: 10px;
}
nav.large a, nav.large span{
  box-shadow: 3px 3px 5px black;
  margin-left: 1px;
}
nav .buttons{
padding: 1px;
font-size: 35px;
border: 3px solid gray;
border-radius: 2px;
color: silver;
background-color: #52504E;
text-decoration: none;
cursor: pointer;
}
nav .buttons:hover{
border-bottom: 3px solid lightgray;
}
nav .selected{
padding: 1px;
font-size: 35px;
border: 3px solid gray;
border-radius: 2px;
color: silver;
background-color: #3D3C3A;
cursor: pointer;
}
#textbox{
padding-top: 10px;
}
.buttons span{
font-size: 30px;
}
img{
padding-top: 10px;
}
.sect{
  font-size: 20px;
}
.report p{
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
p span{
  cursor: pointer;
  color: blue;
  decoration: underline;
}
.mini .buttons{
  font-size: 30px;
}
.mini .selected{
  font-size: 32px;
  box-shadow: 3px 3px 5px black;
}
